dist:
  name: otelcol-custom
  output_path: ./bin
  description: Sample custom OpenTelemetry Collector distribution for production
  otelcol_version: 0.89.0
  version: 0.0.4
  include_core: false

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.89.0

processors:
  - gomod: go.opentelemetry.io/collector/processor/batchprocessor v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourcedetectionprocessor v0.89.0
  - gomod: go.opentelemetry.io/collector/processor/memorylimiterprocessor v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/transformprocessor v0.89.0

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.89.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.89.0
  - gomod: go.opentelemetry.io/collector/exporter/otlphttpexporter v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/googlecloudexporter v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/lokiexporter v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter v0.89.0

extensions:
  - gomod: go.opentelemetry.io/collector/extension/ballastextension v0.89.0
  - gomod: go.opentelemetry.io/collector/extension/zpagesextension v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.89.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/pprofextension v0.89.0

connectors:
  - gomod: go.opentelemetry.io/collector/connector/forwardconnector v0.89.0
